<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrera de Buses</title>
</head>
<body>
    <h2>Carrera de Buses</h2>
    <img src="{{ url_for('static', filename='images/carrera_de_buses.gif') }}" alt="Carrera de Buses GIF">
    <audio controls>
        <source src="{{ url_for('static', filename='audio/carrera_de_buses.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <a href="{{ url_for('menu_principal') }}">Volver al Menú Principal</a>
</body>
</html>
