<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hipódromo</title>
</head>
<body>
    <h2>Hipódromo</h2>
    <img src="{{ url_for('static', filename='images/hipodromo.gif') }}" alt="Hipódromo GIF">
    <audio controls>
        <source src="{{ url_for('static, filename='audio/hipodromo.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <a href="{{ url_for('menu_principal') }}">Volver al Menú Principal</a>
</body>
</html>
